/* Mute icon */
.marka.marka-icon-mute i {
  -webkit-transform: scale(.5) translate(0, -50%);
  -moz-transform: scale(.5) translate(0, -50%);
  -ms-transform: scale(.5) translate(0, -50%);
  -o-transform: scale(.5) translate(0, -50%);
  transform: scale(.5) translate(0, -50%);
}
.marka.marka-icon-mute i:nth-child(2) {
  -webkit-transform: rotate(180deg) skewX(-30deg) scale(0.4) translate(51%, 50%);
  -moz-transform: rotate(180deg) skewX(-30deg) scale(0.4) translate(51%, 50%);
  -ms-transform: rotate(180deg) skewX(-30deg) scale(0.4) translate(51%, 50%);
  -o-transform: rotate(180deg) skewX(-30deg) scale(0.4) translate(51%, 50%);
  transform: rotate(180deg) skewX(-30deg) scale(0.4) translate(51%, 50%);
}
.marka.marka-icon-mute i:nth-child(3) {
  -webkit-transform: rotate(90deg) skewY(-30deg) scale(0.4) translate(-50%, -50%);
  -moz-transform: rotate(90deg) skewY(-30deg) scale(0.4) translate(-50%, -50%);
  -ms-transform: rotate(90deg) skewY(-30deg) scale(0.4) translate(-50%, -50%);
  -o-transform: rotate(90deg) skewY(-30deg) scale(0.4) translate(-50%, -50%);
  transform: rotate(90deg) skewY(-30deg) scale(0.4) translate(-50%, -50%);
}
.marka.marka-icon-mute i:nth-child(4) {
  -webkit-transform: translate(0%, 43%) scale(.8, .1);
  -moz-transform: translate(0%, 43%) scale(.8, .1);
  -ms-transform: translate(0%, 43%) scale(.8, .1);
  -o-transform: translate(0%, 43%) scale(.8, .1);
  transform: translate(0%, 43%) scale(.8, .1);
}
.marka.marka-icon-mute i:nth-child(5){
  -webkit-transform: translate(0%, 43%) scale(.4, .1);
  -moz-transform: translate(0%, 43%) scale(.4, .1);
  -ms-transform: translate(0%, 43%) scale(.4, .1);
  -o-transform: translate(0%, 43%) scale(.4, .1);
  transform: translate(0%, 43%) scale(.4, .1);
}